/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, p, th, td {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
ul,li{list-style:none;}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}
/** css Reset end **/

/** Page  **/
body
{
    background-color:#ccc;
    margin:0 auto;
    text-align:center;
}
.main
{
    font-size:12px;
    width:1200px;
    height:800px;
}
#container
{
    width:970px;
    height:535px;
    margin: 58px 0px 0px 20px;
    position:relative;
    overflow:hidden;
}
#container .image
{
    position:absolute;
    height:535px;
    width:4800px;
}
#container .image li
{
    float:left;
    width:970px;
    height:535px;
    position:relative;
    overflow:hidden;
    background:#000;
}
#container .sign
{
    right:5px;
    bottom:5px;
    position:absolute;
}
#container .sign li
{
    float:left;
    color:Gray;
    text-align:center;
    line-height:16px;
    width:16px;
    height:16px;
    font-family:Arial;
    cursor:pointer;
    overflow:hidden;
    margin:6px 4px;
    background-color:#fff;
}

#container .sign li.on
{
    color:White;
    background-color:Maroon;
}